@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #242729;
}

.background_img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/imgs/Thousand_Sunny_Login.webp");
  z-index: -1000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header{
  box-shadow: 2px 2px  #FFCF1F;
  width: 100%;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.842);
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-img {
  background-image: url("/assets/icon/One-Piece-Logo.png");
  padding: 10px 35px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

h1 a{
  opacity: 0;
  font-size: 40px; 
}

.titulo-img img{
  width: 150px;
}

.navegacao a {
  color: #FFCF1F;
  text-decoration: none;
}

.navegacao ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.navegacao ul li {
  cursor: pointer;
  font-size: 17px;
}

.navegacao ul li:hover{
  text-shadow: 3px 3px 22px #FFCF1F;
}

/* LOGIN */
.background_holder{
  position: relative;
  height: auto;
  min-height: 100vh;
}

.banner_login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 600px;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e60000 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: rgba(26, 13, 1, 0.968);
  align-items: center;
  border-radius: 4px;
  border: 3px solid rgba(26, 13, 1, 0.968);
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
  padding: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

input {
  margin-bottom: 10px;
  border: 1px solid rgba(26, 13, 1, 0.968);
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: rgba(26, 13, 1, 0.968);
  background-color: #FFCF1F;
  width: 120px;
  align-self: center;
  margin: 10px;
  border: 1px solid  rgba(26, 13, 1, 0.968);
  cursor: pointer;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  margin-top: 15px;
}

/* FOOTER */
footer {
  display: flex;
  padding: 0px;
  width: 100%;
  background-color: #FFCF1F;
  border-top: 2px solid rgba(26, 13, 1, 0.968);

}

footer .containerFooter {
  display: flex;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: rgba(26, 13, 1, 0.968);
}