* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body {
    font-family: 'Ubuntu Mono', monospace;
    background-image: url('../css/video_preview.webm');
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* COMEÇO DO HEADER ---------------*/
header{
    box-shadow: 2px 2px  #FFCF1F;
    width: 100%;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.842);
}
.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(../css/video_preview.webm) no-repeat;
	background-size: cover; 
}

.titulo-img {
    background-image: url("/assets/icon/One-Piece-Logo.png");
    padding: 10px 35px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

h1 a{
    opacity: 0;
    font-size: 40px; 
}

.titulo-img img{
    width: 150px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao a {
    color: #FFCF1F;
    text-decoration: none;
}

.navegacao ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.navegacao ul li {
    cursor: pointer;
    font-size: 17px;
}

.navegacao ul li:hover{
    text-shadow: 3px 3px 22px #FFCF1F;
}

/* COMEÇO DA MAIN--------------- */ 
main {
    height: auto;
    width: auto;
        
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    color: rgba(26, 13, 1, 0.968);    
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 700px;
    padding-top: 80px;
}

.text-bem-vindo{
    width: 90%;
    font-size: 30px;
    color:  #F2010B;
    text-shadow: 3px 3px 22px #FFCF1F;
    padding-top: 0px;
    padding-left: -30px;
}

.main-text{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 100px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.video.op{
    border: rgba(26, 13, 1, 0.968);
}

.img_valores {
    position: relative; 
    height: auto;
    padding: 30px;
}
      
.img_valores .img_mapa {
    position: absolute;
    z-index: -1; 
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: auto;
}
.text-SobreNos{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 100px 0px 0px 0px;
    color: rgba(26, 13, 1, 0.968);
    font-size: 25px;
    margin-bottom: 10px;
}

.valores-text{
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    color: rgba(26, 13, 1, 0.968);
    font-size: 25px;
    padding-left: 200px;
    padding-right: 120px;
    margin-bottom: -80px;
}

.banner_tripulacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    color: rgba(26, 13, 1, 0.968);    
    margin-bottom: 130px;
    padding-left: 200px;
    padding-right: 100px;
}

.sobre-text{
    text-align: center;
    padding: 0px 100px 0px 100px;
    font-size: 20px;
    
}

.main-text p{
    text-align: center;
}

/* FOOTER INICIO */
footer {
    display: flex;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    background-color: #FFCF1F;
}

footer .containerFooter {
    display: flex;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: rgba(26, 13, 1, 0.968);
}